:root{
    --azure: #B4D0E7;
    --blue: #0061FF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

header{
    position: fixed;
    z-index: 2;
}

.navbar{
    padding: 1rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.left-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}



.right-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-header>a,
.left-header>a{
    text-decoration: none;
    color: gray;
}

.right-header>a:hover,
.left-header>a:hover{
    color: black;
}

button{
    border: none;
    padding: 0.5rem;
}

.blue{
    background-color: var(--blue);
    color: white;
}

button:hover{
    filter: brightness(0.8);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.azure-container{
    background-color: var(--azure);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 17rem;
    margin-bottom: 12rem;
}

.section{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

.azure-container>.section{

    position: relative;
}

.azure-container>.section>h1{
    padding-bottom: 2rem;
    font-size: 50px;
}

.free-try{
    position: absolute;
    top: 70%;
    
    display: flex;
}

.free-try>.left{
    width: 70%;
}

.free-try>.left>p{
    padding-top: 10%;
    padding-right: 5%;
}
.free-try>.left>button{
    margin-top: 10%;
}

.payment-cadency-selection{
    width: 70%;
    padding-bottom: 3rem;
}

.payment-cadency-selection>h2{
    padding-bottom: 3rem;
}

.payment-cadency-selection>p{
    display: inline;
    margin-right: 2rem;
}

.container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    
}

.col-3{
    width: 30%;
    align-items: stretch;

    border: 1px solid black;
}

.third:last-child{
    margin-bottom: auto;
}

.col-3>*{
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.col-name{
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.spacer{
    width: 30%;
    border-bottom: 1px solid black;
}

.container-large{
    width: 70%;
    border: 1px solid black;
    margin: 3rem;
    display: flex;
    flex-direction: column;
}

.container-large>.col-name{
    width: 100%;
    
}

.container-large>.left{
    width: 70%;
    margin: 2rem;
}

.container-large>.bottom{
    display: flex;
    
}

.bottom>*{
    margin: 1rem;
}

.bottom>.left>h3,
.bottom>.left>h4{
    padding-bottom: 2rem;
}

.bottom>.blue{
    width: 30%;
    padding: 0.5rem;
    margin: 1rem;
    align-self: flex-start;
}

.partner>.text-right{
    width: 50%;
    margin: 2rem;
}

.text-right>*{
    margin: 2rem 0;
}

.bordered{
    border: 1px solid gray
}

.vertical{
    margin-top: 5rem;
    flex-direction: column;
}

.cards{
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width: 30%;
}

.card>p{
    margin: 1rem 0;
}

.designit{
    display: flex;
}

.companies{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}

.company{
    height: 50%;
    width: 50%;
    padding: 4rem;
    background-color: aqua;
}

.designit-logo{
    width: 33%;
    background-color: whitesmoke;
}

.designit-logo>*{
    margin: 2rem;
    font-size: smaller;
}

.designit-logo>img{
    width: 40%;

}